@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: black
}
html,
body {
  @apply bg-slate-dark-gradient;
}

@layer components {
  .header-text_size {
    @apply text-3xl md:text-4xl lg:text-5xl
  }
  .pause {
    animation-play-state: paused;
  }

  .running {
    animation-play-state: running;
  }

  .outer-padding {
    @apply p-1.5 sm:p-2 md:p-3 lg:p-4 xl:p-5;
  }

  .header-text {
    @apply tracking-wide font-medium uppercase;
  }

  .black-white-gradient-lr {
    background-color: rgb(15, 23, 42);
    background-image: radial-gradient(at 0% 80%, rgba(0, 0, 0, 0.457) 0, transparent 100%);
  }

  .black-white-gradient-lr-min {
    background-color: rgb(12, 20, 40);
    background-image: radial-gradient(at 0% 70%, rgb(0, 0, 0) 0, transparent 100%);
  }

  .gradient-blue-red-lr {
    background: rgb(0, 187, 255);
    background: -moz-linear-gradient(
      71deg,
      rgba(0, 187, 255, 1) 17%,
      rgba(0, 255, 194, 1) 31%,
      rgba(234, 255, 41, 1) 48%,
      rgba(255, 41, 41, 1) 100%
    );
    background: -webkit-linear-gradient(
      71deg,
      rgba(0, 187, 255, 1) 17%,
      rgba(0, 255, 194, 1) 31%,
      rgba(234, 255, 41, 1) 48%,
      rgba(255, 41, 41, 1) 100%
    );
    background: linear-gradient(
      71deg,
      rgba(0, 187, 255, 1) 17%,
      rgba(0, 255, 194, 1) 31%,
      rgba(234, 255, 41, 1) 48%,
      rgba(255, 41, 41, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00bbff",endColorstr="#ff2929",GradientType=1);
  }

  .gradient-blue-light-lr {
    background: rgb(0, 255, 233);
    background: -moz-linear-gradient(
      71deg,
      rgba(0, 255, 233, 1) 15%,
      rgba(0, 221, 255, 1) 34%,
      rgba(0, 187, 255, 1) 52%,
      rgba(0, 144, 255, 1) 68%,
      rgba(0, 144, 255, 1) 85%
    );
    background: -webkit-linear-gradient(
      71deg,
      rgba(0, 255, 233, 1) 15%,
      rgba(0, 221, 255, 1) 34%,
      rgba(0, 187, 255, 1) 52%,
      rgba(0, 144, 255, 1) 68%,
      rgba(0, 144, 255, 1) 85%
    );
    background: linear-gradient(
      71deg,
      rgba(0, 255, 233, 1) 15%,
      rgba(0, 221, 255, 1) 34%,
      rgba(0, 187, 255, 1) 52%,
      rgba(0, 144, 255, 1) 68%,
      rgba(0, 144, 255, 1) 85%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ffe9",endColorstr="#0090ff",GradientType=1);
  }

  .gradient-blue-purple-red-lr {
    background: rgb(181, 230, 255);
    background: -moz-linear-gradient(
      90deg,
      rgba(181, 230, 255, 1) 15%,
      rgba(156, 255, 246, 1) 33%,
      rgba(78, 180, 255, 1) 52%,
      rgba(197, 111, 255, 1) 70%,
      rgba(255, 96, 96, 1) 94%
    );
    background: -webkit-linear-gradient(
      90deg,
      rgba(181, 230, 255, 1) 15%,
      rgba(156, 255, 246, 1) 33%,
      rgba(78, 180, 255, 1) 52%,
      rgba(197, 111, 255, 1) 70%,
      rgba(255, 96, 96, 1) 94%
    );
    background: linear-gradient(
      90deg,
      rgba(181, 230, 255, 1) 15%,
      rgba(156, 255, 246, 1) 33%,
      rgba(78, 180, 255, 1) 52%,
      rgba(197, 111, 255, 1) 70%,
      rgba(255, 96, 96, 1) 94%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b5e6ff",endColorstr="#ff6060",GradientType=1);
  }
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100vw;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.header {
  grid-area: header;
}
.main {
  display: flex;
  flex-direction: column;

  grid-area: main;
}

.footer {
  grid-area: footer;
}
